---
layout: default
title: GitLab for education
description: "We want students to use our most advanced features, so they can take that experience to their future workplaces. Learn more here!"
canonical_path: "/solutions/education/"
suppress_header: true
extra_css:
  - sales-and-free-trial-common.css
  - faq.css
  - styles-2018.css
  - webcast.css
  - meetups.css
extra_js:
  - libs/on-scroll.js
  - in-page-nav.js
  - all-clickable.js
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        = image_tag "/images/community/gitlab-for-education-logo-digital-rgb-04.svg", class: "gitlab-for-education-logo-digital-rgb-04", alt: "Gitlab for Education logo"
        %h1.page-headline GitLab for Education
        %h2.page-subtitle Bringing DevOps to a classroom near you
        .row.text-center
          = link_to "Take our 2020 Education Survey", "https://gitlab.fra1.qualtrics.com/jfe/form/SV_0jtYIlpW76zZvlr", class: "btn cta-btn orange margin-top20"
          = link_to "Apply to Student Spotlights", "https://about.gitlab.com/blog/2020/06/17/gitlab-for-education-student-spotlights/", class: "btn cta-btn orange margin-top20"

.wrapper.wrapper--large-fonts
  #content.devops-content.u-margin-top-lg
    .wrapper.container.js-in-page-nav-group{role: "main"}
      .row.u-margin-top-lg
        .col-md-10.col-md-offset-1
          %h2.u-text-brand GitLab for Education

          %p At GitLab, we believe that <b>every student can contribute</b>! Our mission is to promote GitLab and DevOps at educational institutions around the world. We aim to build a community of educators, learners, and researchers who are passionate about all things related to DevOps and GitLab.

          %p Beyond providing free, unlimited licenses of our top tiers of GitLab (Self-hosted Ultimate or Hosted Gold), we want to be a resource for you to learn more about DevOps and connect with others who share your interest.

      .row.u-margin-top-xl.js-in-page-nav-section#requirements-and-application
        .col-md-6
          %h2.u-text-brand Requirements and application

          <p class="alert alert-gitlab-purple">
          We are experiencing a high volume of requests at this time and apologize for longer than usual response times. If your request is urgent, please email education@gitlab.com and add "Urgent: [ your request] in the subject line." Thanks for your patience!
          </p>


          %p

            %h3 Program requirements
            %ul
              %li In order to qualify, educational institutions must be accredited and non-profit. (<a href="/handbook/marketing/community-relations/education-program/#gitlab-for-education-program-requirements" target="_blank">see more details</a>)
              %li The GitLab Education license can only be used for <b>instructional-use</b> or <b>non-commercial academic research</b>. IT professional use and/or use for institutional administration is not permitted under the educational license.
              %li Only faculty or staff employed full-time at an educational institution can apply. We are not able to issue licenses to students directly.
              %li Applicants must apply with the email domain of their representative institution. Please do not use personal email domains.

            %h3 Program benefits
            %ul
              %li Unlimted seats per license of Gold (GitLab hosted) or Ultimate (self-hosted). Renewed annually.
              %li The number of seats and type of license (Gold or Ultimate) can be changed at the time of renewal or upon request.
              %li GitLab support is not included with the educational license but it is available to education program members at a discount for $4.95 per seat per month (95% off list price).
              %li 50k CI runner minutes are included with the subscription. (<a href="https://docs.gitlab.com/ee/subscriptions/#purchasing-additional-ci-minutes" target="_blank">Additional minutes must be purchased</a>).
              %li If you have any additional questions regarding this program, feel free to reach us at <a href="mailto:education@gitlab.com" target="_blank">education@gitlab.com</a>.

            %h3 Application process
            %ul
              %li Fill out the application form. Please provide the most accurate and complete information as possible when filling out the form including a complete billing address with street number, street name, and zipcode.
              %li Please indicate <b>how</b> the license will be used in the <b>Educational Use Case</b> field (<a href="/handbook/marketing/community-relations/education-program/#gitlab-for-education-program-requirements" target="_blank">see our definitions</a>). Please include any additional details on how the license will be used in the <b>Educational Use Case Notes</b> field. This information will help us determine if the application will be accepted.
              %li Allow 5 business days for turn-around time.
              %li Upon acceptance, applicants will receive a quote via email with our (<a href="/terms/#subscription" target="_blank">GitLab Subscription Agreement</a>) to be signed by an authorized institutional representative.
              %li Return the signed quote to us.
              %li Receive the license key (for Ultimate via our <a href="https://customers.gitlab.com" target="_blank">CustomersDot</a>) or GitLab Group authentication instructions (for Gold via email).

            %h3 Renewal process
            %ul
              %li Please reach out to us via <a href="mailto:education@gitlab.com" target="_blank">education@gitlab.com</a> approximately one month before your license expires.
              %li Provide the number of seats needed for the renewal and any other changes to your account such as type of license or primary contact.
              %li Provide details on the use case for the educational license.
              %li Please allow 5 business days for turn-around time.


        .col-md-6
          %h3.margin-top0 Application form

          .centered-form
            %script{ src: "//page.gitlab.com/js/forms2/js/forms2.min.js" }
            %form#mktoForm_1659
            :javascript
              MktoForms2.setOptions(
              {
                formXDPath : "/rs/194-VVC-221/images/marketo-xdframe-relative.html"
              });
              MktoForms2.loadForm("//page.gitlab.com", "194-VVC-221", 1659, function(form) {
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.confirmform').attr('style', 'visibility: visible');
                  return false;
                });
              });
        .confirmform{ style: "visibility:hidden;" }
          %h3 Submission received!
          %p We will be in touch soon.

      .row.u-margin-top-md.js-in-page-nav-section#get-involved
        .col-md-10.col-md-offset-1
          %h2.u-text-brand Get involved!

          %p We are thrilled to welcome you to the GitLab for Education Program! The GitLab for Education Program has issued over <b>1.62 million seats of top-tier GitLab to over 800 educational institutions in over 65+ countries</b>. We've come this far in only two years and are growing every day! As we continue to build on this momentum - our top goal is be the place to be for all things DevOps education.

          %h3.u-text-brand Here are few things to get you started on your DevOps journey:

        .gitlab-content-container
          .grid-layout.grid-layout3
            = link_to "https://forum.gitlab.com/c/gitlab-for-education/37", class: "tile tile-animated grid-item" do
              = image_tag "/images/community/community-customers.svg", class: "icon-small", alt: "Gitlab community resources svg"
              .tile-content
                %h4 Join the GitLab Forum
                %p Come on by and introduce yourself! We created a special Education category as a resource for our program members. Consider the forum your resource for Q&A on GitLab!
            = link_to "https://about.gitlab.com/blog/2020/06/17/gitlab-for-education-student-spotlights/", class: "tile tile-animated grid-item" do
              = image_tag "/images/community/community-hof.svg", class: "icon-small", alt: "Gitlab community contributing svg"
              .tile-content
                %h4 Apply to Students Spotlights
                %p Apply, interview, and get swag! We can't wait to meet you and learn about your projects!
            = link_to "https://gitlab.fra1.qualtrics.com/jfe/form/SV_0jtYIlpW76zZvlr", class: "tile tile-animated grid-item" do
              = image_tag "/images/downloads/logo.svg", class: "icon-small", alt: "Gitlab logo svg"
              .tile-content
                %h4 Take our Survey
                %p We'd love to hear from you about your experience and what you'd like to see next! Help shape the future of DevOps education at GitLab.
            = link_to "/community/meetups/", class: "tile tile-animated grid-item" do
              = image_tag "/images/community/community-events.svg", class: "icon-small", alt: "Gitlab community events svg"
              .tile-content
                %h4 Attend or Host a Meetup
                %p In a pinch for a lecture topic? Looking for an engaging speaker on DevOps? Check out GitLab Meetups! We make it super easy.
            = link_to "/community/hackathon/", class: "tile tile-animated grid-item" do
              = image_tag "/images/community/community-hackathon.svg", class: "icon-small", alt: "Gitlab hackathon svg"
              .tile-content
                %h4 Hackathon
                %p We host quarterly hackathons where you can make contributions, win prizes, and network with other contributors. Students encouraged!
            = link_to "/community/contribute/", class: "tile tile-animated grid-item" do
              = image_tag "/images/downloads/logo.svg", class: "icon-small", alt: "Gitlab logo svg"
              .tile-content
                %h4 Become a contributor
                %p Are you a student looking to gain experience? Want to develop your skills wthin a support network? Check our our code contributor program to get started!

      .row.u-margin-top-xl.js-in-page-nav-section#devops-in-education
        .col-md-10.col-md-offset-1
          %h2.u-text-brand DevOps in Education

          %p DevOps + Education: Are you interested in learning more about how the two relate? We are too! You've come to the right place!

          %p There are so many different ways DevOps can be used in education. We’ve been taking note of a few of the really great ways we see DevOps entering both the higher education classroom as well as K-12 and less formal settings such as clubs and boot camps!

          .media.u-margin-top-sm.u-margin-bottom-md.has-shadowed-svg
            .media-left.media-middle.u-padding-right-sm
              .media-object.svg-shadow{ style: "width: 162px; height: 186px" }
                = partial "includes/icons/cycle-analytics/icon-benefit-1.svg"

            .media-body.media-middle
              %h3.u-margin-top-0 Open Science and research

              %p.u-margin-bottom-0 Git technology is being used to manage data and publications. Continuous integration runs analytical workflows on data. Containerization allows for reproducability and versioned analysis. Collaborative tools speed up the cycle to results. Repositories store open data and web publications.

          .media.u-margin-top-sm.u-margin-bottom-md.has-shadowed-svg
            .media-left.media-middle.u-padding-right-sm
              .media-object.svg-shadow{ style: "width: 162px; height: 162px;" }
                = partial "includes/icons/code-2-icon.svg"
            .media-body.media-middle
              %h3.u-margin-top-0 Learn computer science, coding, DevOps, and open source

              %p.u-margin-bottom-0 Central repositories and source control are great tools for learning coding. Students can learn the stages of the DevOps lifecycle easily with a single platform. Continous integration tools can quality check and grade code assignments. Collaboration for group projects is easier with a central repositories, issues, epics and milestones.

          .media.u-margin-top-sm.u-margin-bottom-md.has-shadowed-svg
            .media-left.media-middle.u-padding-right-sm
              .media-object.svg-shadow{ style: "width: 162px; height: 162px;" }
                = partial "includes/icons/home/icon-step-2.svg"
            .media-body.media-middle
              %h3.u-margin-top-0 Student portfolios

              %p.u-margin-bottom-0 Students can showcase contributions and code on a GitLab repository. GitLab profiles record a students' contributions and collaboration. GitLab can be used to host and publish blog posts, resumes, and other websites. Demonstrating use of GitLab adds credibility to DevOps skills and working knowledge.

      .row.u-margin-top-xl.js-in-page-nav-section#faqs
        .col-md-10.col-md-offset-1
          %h2.u-text-brand Frequently asked questions

  #education-q-a.content-container.animated
    .container
      .faq-holder.clearfix
        %ol.faq-container.list-unstyled
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Does research qualify for the Education license?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p
                  Yes, research qualifies if the educational institution qualifies and the research is non-commercial academic research. Please see our <a href="/handbook/marketing/community-relations/education-program/#gitlab-for-education-program-requirements"> program requirements</a> for more details.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Why doesn't GitLab provided licenses for free directly to students?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p Our GitLab Education Program offering is intended to be issued directly to the institution (enterprise-level) rather than individuals. We offer an unlimited number of seats and top-tier licenses so that all students at an institution can access the best GitLab has to offer. We understand that individual students may wish to have a GitLab license but at this time, we do not have the logistics in place to grant individuals licenses. We encourage all students to find a faculty or staff sponsor and apply to the program.  Students should also check out our <a href="/pricing/#gitlab-com"> free subscription tier</a> for GitLab.com or a <a href="/pricing/#self-managed"> free download</a> of our core self-managed offering. You can also apply for a <a href="https://gitlab.com/-/trials/new)"> 30-day trial</a> if you’d like to try out some more advanced features.
          %li#edu-question-2.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Can this license be used in the IT department for running IT services?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p  No, IT professional use or any administrative use for running the institution itself does not qualify. The GitLab Education license can only use for teaching or research purposes. Please <a href="/sales"> contact our sales team <a/> if you are interested in using GitLab for IT professional use.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Are modifications to the end user license agreement allowed?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p At this time, we are not able to accommodate modifications to our user agreement. Please email <a href="mailto:education@gitlab.com" target="_blank">education@gitlab.com</a>. if you have any additional questions.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Is it possible to increase the number of seats in the future?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p If you wish to increase the number of seats on your existing license, please send an email to education@gitlab.com, and we’ll prepare an add-on quote for additional seats.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Can I purchase support for a lower number of seats than quoted?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p No. If you choose to purchase our discounted Education support, you must purchase it for all seats.
        %ol.faq-container.list-unstyled
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Can we run multiple self-hosted instances with the same license key?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p Yes. It is possible to activate multiple self-hosted instances with the same license key.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                How can I manage the visibility of our projects?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p If you're a member of the parent group in GitLab, you automatically have access to all descendants - GitLab doesn't support having the subgroup be more restrictive than its parent. However, being a part of a subgroup does not grant you access to the parent group.
                %p The best way to do this is to make everyone a member of their respective subgroup having only admins in the top level group.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Can students use our GitLab instance after they graduate?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p GitLab Education licenses are issued to the educational institution directly. Therefore, students will need to purchase their own license if they are no longer provided access by their institution.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Is it possible to authenticate users via LDAP over SSL?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p It is possible only on our self-hosted Ultimate version. The server doesn't strictly need a static IP, as a DNS name can be used for the LDAP server.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Who gets counted in the subscription?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p Please see our <a href="/pricing/licensing-faq/#who-gets-counted-in-the-subscription">licensing and subscription FAQ</a> for the detailed explanation.
