---
layout: default
title: "Learn@GitLab"
description: "Welcome to Learn@GitLab! It's here to provide you a deeper look into GitLab, how it works, and how it might be able to help you."
canonical_path: "/learn/"
suppress_header: true
extra_css:
  - team.css
---

-# THE CONTENT FOR THIS PAGE IS IN https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/data/learn.yml
.wrapper
  .container
    .team-head
      %h1
        LEARN@
        %b GITLAB
      %p.text-center Welcome to Learn@GitLab! It's here to provide you a deeper look into GitLab, how it works, and how it might be able to help you. It's organized by the biggest challenges we see folks come to GitLab looking to solve.
    
    %p.text-center<
      %h2.js-in-page-nav-section#vcc.text-center<
        = link_to "Version Control and Collaboration", "#vcc"
      - data.learn.each do |l|
        - if l.use_case == "Version Control and Collaboration"
          %p.text-center<
            = link_to l.title, l.link, target: :_blank
            = ", type: " + l.asset_type
      %br

      %h2.js-in-page-nav-section#continous_integration.text-center<
        = link_to "Continuous Integration", "#continous_integration"
      - data.learn.each do |l|
        - if l.use_case == "Continuous Integration"
          %p.text-center<
            = link_to l.title, l.link, target: :_blank
            = ", type: " + l.asset_type
      %br

      %h2.js-in-page-nav-section#continous_delivery.text-center<
        = link_to "Continuous Delivery", "#continous_delivery"
      - data.learn.each do |l|
        - if l.use_case == "Continuous Delivery"
          %p.text-center<
            = link_to l.title, l.link, target: :_blank
            = ", type: " + l.asset_type
      %br

      %h2.js-in-page-nav-section#devsecops.text-center<
        = link_to "DevSecOps", "#devsecops"
      - data.learn.each do |l|
        - if l.use_case == "DevSecOps"
          %p.text-center<
            = link_to l.title, l.link, target: :_blank
            = ", type: " + l.asset_type
      %br

      %h2.js-in-page-nav-section#agile_management.text-center<
        = link_to "Agile Management", "#agile_management"
      - data.learn.each do |l|
        - if l.use_case == "Agile Management"
          %p.text-center<
            = link_to l.title, l.link, target: :_blank
            = ", type: " + l.asset_type
      %br

      %h2.js-in-page-nav-section#value_stream_management.text-center<
        = link_to "Value Stream Management", "#value_stream_management"
      - data.learn.each do |l|
        - if l.use_case == "Value Stream"
          %p.text-center<
            = link_to l.title, l.link, target: :_blank
            = ", type: " + l.asset_type
      %br

      %h2.js-in-page-nav-section#simplify_devops.text-center<
        = link_to "Simplify DevOps", "#simplify_devops"
      - data.learn.each do |l|
        - if l.use_case == "Simplify DevOps"
          %p.text-center<
            = link_to l.title, l.link, target: :_blank
            = ", type: " + l.asset_type
      %br

      %h2.js-in-page-nav-section#cloud_native.text-center<
        = link_to "Cloud Native", "#cloud_native"
      - data.learn.each do |l|
        - if l.use_case == "Cloud Native"
          %p.text-center<
            = link_to l.title, l.link, target: :_blank
            = ", type: " + l.asset_type
      %br

      %h2.js-in-page-nav-section#gitops.text-center<
        = link_to "GitOps", "#gitops"
      - data.learn.each do |l|
        - if l.use_case == "GitOps"
          %p.text-center<
            = link_to l.title, l.link, target: :_blank
            = ", type: " + l.asset_type
      %br

      %h2.js-in-page-nav-section#remote.text-center<
        = link_to "Remote", "#remote"
      - data.learn.each do |l|
        - if l.use_case == "Remote"
          %p.text-center<
            = link_to l.title, l.link, target: :_blank
            = ", type: " + l.asset_type
      %br

      %h2.js-in-page-nav-section#other.text-center<
        = link_to "Other", "#other"
      - data.learn.each do |l|
        - if l.use_case == "Other"
          %p.text-center<
            = link_to l.title, l.link, target: :_blank
            = ", type: " + l.asset_type
