---
title: The first single application for the entire DevOps lifecycle - GitLab
description: “From project planning and source code management to CI/CD and monitoring, GitLab is a complete DevOps platform, delivered as a single application. Only GitLab enables Concurrent DevOps to make the software lifecycle 200% faster.”
canonical_path: "/"
suppress_header: true
layout: home
extra_css:
  - home.css
  - merchandising-content.css
  - bl-modal.css
  - video-carousel.css
extra_js:
  - libs/on-scroll.js
  - all-clickable.js
  - libs/slick.min.js
  - video-carousel.js
---

%link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"}
%link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"}

-# These times will automatically disable certain sections of content.
-# Dates should be specified using the ISO 8601 date format, YYYY-MM-DD
-# If including a time, YYYY-MM-DDT:HH:MM:SS-timezeone.
-# Example: 2010-02-01T:22:00:00-0700 (February 1st, 2010 @ 10PM Pacific).

- currentTime = Time.now.in_time_zone("Pacific Time (US & Canada)")
- eventStartTime = Time.parse("2020-08-26T:06:30:00-0700")
- eventEndTime = Time.parse("2020-08-27T:06:30:00-0700")

- if eventStartTime > currentTime
  = partial "includes/home/hero-image-background"

- elsif currentTime > eventStartTime && eventEndTime > currentTime
  = partial "includes/home/hero-wide-split"

- else
  = partial "includes/home/hero"

.simple-cta.pullup What is your biggest DevOps dilemma?
.container
  .row.challenge-boxes.u-margin-top-sm
    %a.col-md-4.challenge-box.complexity{href: '/why/simplify-collaboration-with-version-control/'}
      .box-image{ style: "background: url('/images/unsplash/data-servers.jpg') no-repeat center center / cover;" }
        .box-image-title Collaboration
      .box-heading Your teams work in silos and face integration conflicts and long cycle times
      .box-copy GitLab streamlines software development with a full featured SCM and code review application. Dramatically increase integration frequency and code quality without sacrificing release velocity, security, or compliance.
      .box-link
        Learn More
        %i.fas.fa-arrow-right
    %a.col-md-4.challenge-box.speed{href: '/why/use-continuous-integration-to-build-and-test-faster/'}
      .box-image{ style: "background: url('/images/unsplash/data.png') no-repeat center center / cover;" }
        .box-image-title Speed
      .box-heading Your developers are slowed down by bottlenecks, hand-offs, and re-work
      .box-copy With GitLab, SCM, CI, security and more are in one browser window. Stop context switching and start collaborating at the point of code.
      .box-link
        Learn More
        %i.fas.fa-arrow-right
    %a.col-md-4.challenge-box.security{href: '/why/shift-your-security-scanning-left/'}
      .box-image{ style: "background: url('/images/unsplash/lock.jpg') no-repeat center center / cover;" }
        .box-image-title Security
      .box-heading You are forced to trade speed for security... or security for speed
      .box-copy With GitLab, you can move security "left" in the development process. Developers can see and fix problems, with security fully in the loop.
      .box-link
        Learn More
        %i.fas.fa-arrow-right

  .row.u-margin-top-sm
    .col-md-12
      .home-cta-promo
        .home-cta-promo-content
          %h2 Try GitLab for free  
          %p Get unlimited access to all of GitLab's features for 30 days. 
          %a.btn.orange.cta-btn.margin-top10{:href => "/free-trial/"} Get free trial   

= partial "includes/home/customer-logos-transparent"
.wrapper-dark
  = partial "includes/contact-sales"
.container
  = partial "includes/home/sdlc"

= partial "includes/home/ten-oh-announcement"

= partial "includes/recent-posts"


.container.u-margin-top-40
  %h2.u-margin-bottom-sm.text-center
    Featured videos
  .video-slider
    - data.video_carousel.each do |video|
      -if video.carousel_identifier.include?("Homepage Carousel 1")
        = partial "includes/components/video-carousel/video-item", locals: {name: video.name, title: video.title, company: video.company, photourl: video.photourl, videolink: video.video_link}

- data.video_carousel.each do |video|
  -if video.carousel_identifier.include?("Homepage Carousel 1")
    = partial "includes/components/video-carousel/video-carousel-modal", locals: {videolink: video.video_link, title: video.title}

= partial "includes/home/feature-group"
